<!DOCTYPE html>
<html lang="en" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/main_layout}">
    <head>
        <title>Clients List</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <div layout:fragment="breadcrumb">
            <div class="col-sm-6">
                <h1>User Clients</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Clients</li>
                </ol>
            </div>
        </div> 
        <div layout:fragment="content" >
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Clients List</h3>
                    <a class="btn btn-success float-sm-right mb-2 btn-sm" th:href="@{/clients/create}"><span class="fa fa-plus"></span> Add Client</a>
                </div>
                <div class="card-body">
                    <table id="clients_table" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Client Name</th>
                                <th>Client Location</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div layout:fragment="page_specific_scripts">
            <script th:inline="javascript">
                var url = '/clients/index/data-for-datatable';
                $(document).ready(function () {
                    $('#clients_table').DataTable({
                        "ajax": url,
                        "processing": true,
                        "serverSide": true,
                        "columns": [
                            {
                                "data": "id",
                            },
                            {
                                "data": "clientName",
                            },
                            {
                                "data": "locations",
                            },
                            {
                                "render": function (data, type, row, meta) {
                                    return '<a class="btn btn-info btn-xs" href="/clients/update/' + row.id + '">Update</a> ' +
                                            '<form class="datatable_inline_delete" action="/clients/delete/' + row.id + '" method="POST">' +
                                            "<button class=\"btn btn-danger btn-xs right\" type=\"submit\" onClick=\"return confirm('Are you sure you want to delete this client?')\">Delete</button></form>";
                                },
                                "width": "20%", "className":"text-center",
                            }
                        ],
                        "columnDefs": [{
                                "targets": 1,
                                "orderable": false
                            }]
                    });
                });
            </script>
        </div>
    </body>
</html>
