<!DOCTYPE html>
<html lang="en" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/main_layout}">
    <head>
        <title>Update Client</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div layout:fragment="breadcrumb">
            <div class="col-sm-6">
                <h1>Clients</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/clients/index}" >Clients</a></li>
                    <li class="breadcrumb-item active">Update Client</li>
                </ol>
            </div>
        </div>
        <div layout:fragment="content">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-edit"></i>
                        Update Client
                    </h3>
                </div>
                <form th:action="@{/clients/update/{id}(id=${clientsdto.id})}" th:object="${clientsdto}" method="POST" form="clientform">
                    <input type="hidden" th:field="*{id}" />
                    <div class="card-body">  
                         <div class="row">
	                        <div class="form-group col-md-6">
	                            <label for="clientName">Client Name</label>
	                            <input class="form-control" type="text" th:field="*{clientName}" id="clientName" placeholder="Enter Client Name" />
	                            <div class="alert alert-danger" th:if="${#fields.hasErrors('clientName')}" th:errors="*{clientName}"></div>
	                        </div>
                            <div class="form-group col-md-6">
		                        <label class="mx-0" style="font-weight:bold;">Location</label>
								<select id="location_Id" name="locationId" th:field="*{locations}" class="form-control col-xs-12 mb-3"  required>
									<option th:value="''" >Select Locations</option>
									<option th:each="location : ${listLocations}" th:value="${location.id}" th:text="${location.locationName}" th:selected="${location.id} == *{locations.id}"></option>	 
								</select>												
	                            <div class="alert alert-danger" th:if="${#fields.hasErrors('locations')}" th:errors="*{locations}"></div>
                        	</div>
	                         <div class="form-group col-md-12">
	                            <label for="description">Description</label>
	                            <textarea rows="3" cols="120" class="form-control" th:field="*{description}" id="description" placeholder="Optional Client description" ></textarea>
	                            <div class="alert alert-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
	                        </div>
	                    </div>		   
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form> 
            </div>
        </div>
    </body>
</html>
